body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#0A1428;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding: 10px 20px;
    margin-top: -20px
}

.logo {
    width: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.contact-btn {
    background-color: #00aaff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    text-align: left;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content h3 span {
    color: #00aaff;
}

.experience-card {
    background-color: #003366;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-title {
    background-color: #00aaff;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 200px;
}

.experience-title h4 {
    margin: 0;
    font-size: 18px;
}

.experience-title p {
    margin: 5px 0;
    font-size: 14px;
}

.experience-card ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.experience-card ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .info-section {
        margin-bottom: 40px;
    }

    .profile-section {
        margin-top: 40px;
    }

    .contact-btn {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .navbar img.logo {
        width: 100px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    .social-icons a {
        font-size: 20px;
    }
}
